<div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a [routerLink]="">{{ 'COMMON.home' | translate }}</a>
    </li>
    <li class="active">Đăng kí thực tập doanh nghiệp</li>
  </ul>
  <div class="nav-search">
    <p class="pull-right no-margin">
      <a *ngIf="!showSearchPanel" (click)="toggleSearchPanel()" href="javascript:;" class="btn btn-primary btn-xs">
        <i class="fa fa-search"></i>&nbsp;&nbsp;{{ 'COMMON.search' | translate }}
      </a>
      <!-- <a *ngIf="hasCreatePermission" class="btn btn-success btn-xs" (click)="openCreateModal()"><i
          class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'COMMON.add' | translate }}</a> -->
    </p>
  </div>
</div>
<div class="page-content">
  <div class="row">
    <div class="ui-g-12" *ngIf="showSearchPanel">
      <p-panel class="ui-fluid">
        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size: 16px; display: inline-block; margin-top: 2px">{{
              'COMMON.search' | translate }}</span>
            <p class="pull-right no-margin">

              <button type="button" title="{{ 'COMMON.close' | translate }}" (click)="toggleSearchPanel()"
                class="btn btn-xs btn-primary" style="width: 29.29px">
                <i class="ace-icon fa bigger-110 icon-only fa-angle-double-up"></i>
              </button>
            </p>
          </div>
        </p-header>
        <form [formGroup]="searchFormGroup" (ngSubmit)="search(true)" novalidate>
          <div class="ui-g lap-form">
            <div class="ui-g-12">
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Mã doanh nghiệp
                </div>
                <div class="ui-g-12 ui-md-8">
                  <input pInputText formControlName="company_rcd" ngModel type="text" />
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Giới thiệu
                </div>
                <div class="ui-g-12 ui-md-8">
                  <input pInputText formControlName="recruitment_title" ngModel type="text" />
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Vị trí công việc
                </div>
                <div class="ui-g-12 ui-md-8">
                  <input pInputText formControlName="recruitment_title" ngModel type="text" />
                </div>
              </div>


              <div class="clearfix"></div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">&nbsp;</div>
                <div class="ui-g-12 ui-md-2">
                  <button type="submit" class="btn btn-primary btn-xs">
                    <i class="fa fa-search"></i> {{ 'COMMON.search' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
    <div class="ui-g-12 datatable-container">
      <div class="row">
        <div class="col-xs-12">
          <p-table #datatable [value]="data" [lazy]="true" [rows]="pageSize" [(selection)]="selectedDataTableItems">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 38px; text-align: center;">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 70px; text-align: center;">{{ 'COMMON.index' | translate }}</th>
                <th style="width: 10%; text-align: left;">Mã công ty</th>
                <th style="text-align: left;">Giới thiệu</th>
                <th style="text-align: left;">Vị trí công việc</th>
                <th style="width: 5%; text-align: center;">Địa chỉ web</th>
                <th style="width: 5%; text-align: center;">Trạng thái đăng kí</th>
                <th style="width: 120px; text-align: center;" *ngIf="hasUpdatePermission || hasCreatePermission">{{
                  'COMMON.action' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-i="rowIndex">
              <tr [pSelectableRow]="row">
                <td style="width: 38px; text-align: center;">
                  <p-tableCheckbox [value]="row"></p-tableCheckbox>
                </td>
                <td style="width: 70px; text-align: center;">
                  <div class="index_{{ row.item_type_rcd }}">{{ first + i + 1 }}</div>
                </td>
                <td style="width: 10%; text-align: left;">{{ row.company_rcd }}</td>
                <td style="text-align: left;">{{ row.recruitment_title }}</td>
                <td style="text-align: left;">{{ row.recruitment_job }}</td>
                <td style="width: 10%; text-align: center;">{{ row.company_website_address }}</td>
                <td style="width: 10%; text-align: center;"> 
                  <ng-selectize [config]="selectizeConfig(1, 'label', 'value', false)"
                    optionDisabled="inactive"
                    (ngModelChange)="chooseStudentWish($event,row)"
                    (click)="changeState(row)"
                    [options]="student_wish_values"
                    [(ngModel)]="row.student_wish_rcd"
                    placeholder="{{ 'COMMON.all' | translate }}"></ng-selectize>
                </td>
                
                <td class="action-col" style="width: 120px; text-align: left;" *ngIf="hasUpdatePermission || hasCreatePermission">
                  <div class="btn-group">
                    <button title="Chi tiết" class="btn btn-xs btn-white btn-default" (click)="ViewModal(row)"> 
                      <i class="fa fa-eye"></i></button>
                    <!-- <button title="Đăng kí" *ngIf="hasCreatePermission" class="btn btn-xs btn-white btn-default" (click)="openCreateModal(row)"> 
                        <i class="fa fa-plus"></i></button>
                    <button title="{{ 'COMMON.update' | translate }}" class="btn btn-xs btn-white btn-default"
                      *ngIf="hasUpdatePermission" (click)="openUpdateModal(row)"><i
                        class="ace-icon fa fa-edit"></i></button> -->
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="50">
                  <div style="text-align: center">
                    <div style="float: left;">
                      <p-splitButton *ngIf="tableActions.length > 0" [disabled]="selectedDataTableItems.length == 0"
                        label="{{ 'COMMON.action' | translate }}" icon="fa-check" [model]="tableActions">
                      </p-splitButton>
                    </div>
                    <div style="display: inline-block">
                      <p-paginator [first]="first" dropdownAppendTo="body" [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
                        [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)" [rows]="pageSize"
                        [pageLinkSize]="10"></p-paginator>
                    </div>
                    <div class="custom-ng-star-inserted">
                      <div class="ui-inputgroup">
                        <input type="text" name="inputTextInt" [pKeyFilter]="rgxPInt" (keypress)="goToPage($event)"
                          [(ngModel)]="page" pInputText placeholder="{{ 'COMMON.page_number' | translate }}">
                        <span class="ui-inputgroup-addon">/ {{ totalPages }}</span>
                        <button pButton type="button" (click)="goToPage($event)" icon="fa-random"
                          class="ui-button-secondary"></button>
                      </div>
                    </div>
                    <span style="float: right;line-height:27px">{{ pageLabel }}</span>
                    <div class="clearfix"></div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="50">
                  {{ 'COMMON.empty_table' | translate}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
 <div *ngIf="(hasCreatePermission || hasUpdatePermission) && showUpdateModal" id="updateStudentJobCandidate"
    class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="isCreate" class="modal-title">Đăng kí thực tập</h4>
          <h4 *ngIf="!isCreate" class="modal-title">Cập nhật</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="!doneSetupForm" class="loading-overlay">
            <i class="fa fa-spinner fa-spin orange"></i>
          </div>
          <form *ngIf="doneSetupForm" [formGroup]="updateForm" id="updateForm" class="lap-form">
            <div class="row ui-fluid">
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Mã doanh nghiệp
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['company_rcd'].errors"
                    [control]="updateForm.controls['company_rcd']"></error-messages>
                  <input pInputText autofocus formControlName="company_rcd"
                    [(ngModel)]="student_job_candidate.company_rcd" type="text" />
                </div>
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Đăng kí nguyện vọng
                </div>
                <div class="ui-g-12 ui-md-4">
                  <ng-selectize [config]="selectizeConfig(1, 'label', 'value', false)" 
                  [(ngModel)]="student_job_candidate.student_wish_rcd"
                    formControlName="student_wish_rcd" [options]="student_wish_value"
                    placeholder="Nguyện vọng..."></ng-selectize>
                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Năm học
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['course_year'].errors"
                    [control]="updateForm.controls['course_year']"></error-messages>
                  <input pInputText autofocus formControlName="course_year"
                    [(ngModel)]="student_job_candidate.course_year" type="text" />
                </div>
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  CV
                </div>
                <div class="ui-g-12 ui-md-4">
                  <error-messages [errors]="updateForm.controls['cv_path'].errors"
                    [control]="updateForm.controls['cv_path']"></error-messages>
                  <input pInputText formControlName="cv_path" [(ngModel)]="student_job_candidate.cv_path"
                    type="text" />
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="!doneSetupForm" class="btn btn-default btn-sm" (click)="resetUpdateForm()">
            <i class="fa fa-sync-alt"></i> {{ 'COMMON.reset' | translate }}
          </button>
          <button type="button" (click)="onSubmit()"
            [disabled]="!doneSetupForm || !updateForm.valid || !enabledSubmitFlag || submitting"
            class="btn btn-success btn-sm btn-submit">
            <i class="fa fa-save"></i> {{ 'COMMON.ok' | translate }}
          </button>
          <button type="button" class="btn btn-default btn-sm btn-close" (click)="closeUpdateForm($event)">
            <i class="fa fa-times"></i> {{ 'COMMON.cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  
<div *ngIf="showUpdateModalView" id="viewCompanyRecruiment"
    class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thông tin về việc làm doanh nghiệp</h4>
        </div>
        <div class="modal-body">
          <div *ngIf="!doneSetupFormView" class="loading-overlay">
            <i class="fa fa-spinner fa-spin orange"></i>
          </div>
          <form *ngIf="doneSetupFormView" [formGroup]="viewForm" id="viewForm" class="lap-form">
            <div class="row ui-fluid">
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Mã doanh nghiệp
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <input pInputText autofocus formControlName="company_rcd"
                    [(ngModel)]="company_recruitment.company_rcd" type="text" />
                </div>

                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Nội dung tuyển dụng
                </div>
                <div class="ui-g-12 ui-md-4">
                  <input pInputText formControlName="recruitment_title" [(ngModel)]="company_recruitment.recruitment_title"
                    type="text" />
                </div>
              </div>
              
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Công việc tuyển dụng
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <input pInputText autofocus formControlName="recruitment_job"
                    [(ngModel)]="company_recruitment.recruitment_job" type="text" />
                </div>

                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Số lượng tuyển dụng
                </div>
                <div class="ui-g-12 ui-md-4">
                  <input pInputText formControlName="recruitment_quantity" [(ngModel)]="company_recruitment.recruitment_quantity"
                    type="text" />
                </div>
              </div>

              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Mô tả
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-10">
                  <textarea [rows]="5" formControlName="recruitment_description" [class.hidden]="!local_flag" [(ngModel)]="company_recruitment.recruitment_description" pInputTextarea style="resize: none" autoResize="false"></textarea>
                </div>
              </div>

              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Yêu cầu kỹ năng
                </div>
                <div class="ui-g-12 ui-md-10">
                  <textarea [rows]="5" formControlName="recruitment_skill_requirement" [class.hidden]="!local_flag" [(ngModel)]="company_recruitment.recruitment_skill_requirement" pInputTextarea style="resize: none" autoResize="false"></textarea>

                </div>
              </div>

              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Yêu cầu công việc
                </div>
                <div class="ui-g-12 ui-md-10">
                  <textarea [rows]="5" formControlName="recruitment_job_requirement" [class.hidden]="!local_flag" [(ngModel)]="company_recruitment.recruitment_job_requirement" pInputTextarea style="resize: none" autoResize="false"></textarea>

                </div>
              </div>

              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Yêu cầu hồ sơ
                </div>
                <div class="ui-g-12 ui-md-10">
                  <textarea [rows]="5" formControlName="recruitment_cv_requirement" [class.hidden]="!local_flag" [(ngModel)]="company_recruitment.recruitment_cv_requirement" pInputTextarea style="resize: none" autoResize="false"></textarea>

                </div>
              </div>
              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Quyền lợi
                </div>
                <div class="ui-g-12 ui-md-10">
                  <textarea [rows]="5" formControlName="recruitment_benefit" [class.hidden]="!local_flag" [(ngModel)]="company_recruitment.recruitment_benefit" pInputTextarea style="resize: none" autoResize="false"></textarea>
                </div>
              </div>

              <div class="ui-g-12 ui-form-group">
                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Hạn tuyển dụng
                  <span class="red">&nbsp;*</span>
                </div>
                <div class="ui-g-12 ui-md-2">
                  <input pInputText autofocus formControlName="recruitment_expiry_date"
                    [(ngModel)]="company_recruitment.recruitment_expiry_date" type="text" />
                </div>

                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Thông tin liên hệ
                </div>
                <div class="ui-g-12 ui-md-2">
                  <input pInputText formControlName="recruitment_contact" [(ngModel)]="company_recruitment.recruitment_contact"
                    type="text" />
                </div>

                <div class="ui-g-12 ui-md-2 inline-label text-right">
                  Năm học
                </div>
                <div class="ui-g-12 ui-md-2">
                  <input pInputText formControlName="course_year" [(ngModel)]="company_recruitment.course_year"
                    type="text" />
                </div>

              </div>

              
            </div>

          </form>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default btn-sm btn-close" (click)="closeViewForm($event)">
            <i class="fa fa-times"></i> {{ 'COMMON.cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog header="{{ 'COMMON.confirm' | translate }}" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button class="btn-success" type="button" pButton icon="fa-check" label="{{ 'COMMON.ok' | translate }}"
      (click)="cd.accept()"></button>
    <button class="btn-default" type="button" pButton icon="fa-close" label="{{ 'COMMON.cancel' | translate }}"
      (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>